@charset "UTF-8";

로그인 CSS

/* body, html {
	
	background-color: #8CB369;
	height: 100%;
}

#container {
	width: 400px;
	height: 100%;
	background-color: white;
	margin: auto;
	margin-top: -30px;
	margin-bottom: 0px;
	border: 1px solid blue;
} */

.content {
	width: 350px;
	height: 400px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
}

#loginsub{
	margin: 10px 0px;
}

/*아라님이 만든거 */
#logo {
	text-align: center;
}

#logo>img {
	width: 300px;
	margin: 100px;
}

#login,
#nonMemberLogin {
	width: 400px;
	height: 350px;
	margin: 0 auto;
	border: 1px solid #ccc;
	text-align: center;
	padding: 30px;
}

#id, #pwd {
	margin: 15px;
	
}

#loginbtn {
	display: block;
	margin: 20px auto;
}